@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2b68b1;
  --secondary-color: #ffcc29;
  --bg-color: #eeeeee;
  --bg-secondary-color: #d9d9d9;
  --txt-primary-color: #ffffff;
  --txt-secondary-color: #515151;
  --txt-terciary-color: #0f0e0e;
}
